/*
Author: Katelyn Nolan 
Date:04/04/2024
File Name: apply06.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, article, h2 {
    margin: 0;
    padding: 0;
    border: 0;
}

@media screen and (min-width: 418px) {
    article{
        width: 43%;
        float:left;
        height: 160px;
    }
    footer{
        clear: left;
    }

}
/* Media Query for Desktop Viewport */
@media screen and (min-width: 900px) {
  /* Style for article element in desktop viewport */
  article {
    width: 27%;
    height: 140px;
  }

  /* Hover effect for article element in desktop viewport */
  article:hover {
    background-color: #ffe5dc;
    color: #a22c02;
  }
  body {
    background: linear-gradient(to left, #fe9972, #ffe5dc);
    
  }
}
